html body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#password-one, #password-two {
    background-color: blue;
    color: aliceblue;
    padding: 20px 20px;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
}

#sub-container {
    display: flex;
    flex-direction: column;
    
    border: 2px solid blue;
}

#input-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

#symbols {
    color: blue;
}

#numbers {
    color: green;
}

.symbol-trans, .number-trans {
    color: red;
    font-size: larger;
}

#copy-message {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 43%;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 50px;
    transition: opacity 1s ease-in-out;

}

.copied {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}