:root {
    --deep-slate: #0F172A;
    --slate: #1E293B;
    --soft-gray-white: #E5E7EB;
    --electric-blue: #22D3EE;
}

html body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--deep-slate);
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#main-sub-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 15vh;
}

#title-text {
    color: var(--soft-gray-white);
}

#title-sub-text {
    color: var(--electric-blue);
    text-shadow: 0 0 6px var(--electric-blue);
}

.main-text {
    font-size: 40px;
    margin: 10px;
}

#sub-text {
    color: var(--soft-gray-white);
    text-decoration: underline;
    text-underline-offset: 4px;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 15vh;
}

#password-length, #password-length:not(:placeholder-shown) {
    text-align: center;
    font-size: 20px;
    color: var(--soft-gray-white);
    padding: 5px 10px;
    background-color: var(--slate);
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#password-length::placeholder {
    color: gray;
}

.button-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
}

#symbols, #numbers {
    color: var(--soft-gray-white);
    background-color: var(--slate);
    border: none;
    border-radius: 10px;
    opacity: 1;
    padding: 6px;
    font-size: 15px;
    font-family: inherit;
    width: 200px;
    transition: opacity 0.2s ease-in-out;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#symbols:hover, #numbers:hover,
#password-button:hover,
#password-one:hover, #password-two:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
}

#symbols.symbol-trans, #numbers.number-trans {
    opacity: 0.25;
    transition: opacity 0.4s ease-in-out;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#password-button {
    color: var(--soft-gray-white);
    background-color: var(--electric-blue);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#password-container {
    display: flex;
    margin: 20px;
}

#password-one, #password-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: var(--electric-blue); 
    background-color: var(--slate);
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#copy-message {
    color: var(--electric-blue);
    position: inherit;
    z-index: 10;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    background-color: var(--soft-gray-white);
    margin: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: opacity 1s ease-in-out;
    user-select: none;
}

.copied {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}